#dice {
    margin: 5%;
}

.die {
    float: left;
    width: 40px;
    height: 40px;
    margin: 1px;
    border: 2px solid black;
    border-radius: 10px;
}

.one {
    content: "1";
}

table {
    clear: both;
}

table, td {
    padding: 5px;
    border: 1px solid black;
}
