#dice {
    margin: 5%;
    float: left;
}

.die {
    
    width: 40px;
    height: 40px;
    margin: 1px;
    border: 2px solid black;
    border-radius: 10px;
}

.held {
    background: gray;
}

#dice-score {
    float: left;
}

#player-score {
    float: left;
}

table {
    display: inline-block;
}

thead {
    text-align: center;
}

table, td {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

#player-score tr:nth-child(7),
#player-score tr:nth-child(8),
#player-score tr:nth-child(9),
#player-score tr:nth-child(18),
#player-score tr:nth-child(19) {
    border: 2px solid black; 
}

#dice-score td:nth-child(2):hover {
    background: gray;
    cursor: pointer;
}

#dice-score td:nth-child(2):active {
    background: white;
    cursor: pointer;
}

#dice-score tr:nth-child(7) td:nth-child(2):hover {
    background: white;
    cursor: default;
}